#descricao{
    background-color: rgb(229,228,226);
    border: 1px solid #7AC142;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
}

.cursos{
    color: green;
}

#disponiveis{
    color: #2d5980;
    
}

article>p {
    background-color: rgb(229,228,226);
    border: 1px solid #7AC142;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
}

#corpo {
    font-size: 20px;
}

#rodape {
    border: 2px solid #002A5C;
    background-color: rgb(229,228,226);
}